@import 'advantagesSec';
@import 'checkAuth';
@import 'stepsSec';
@import 'scaleSec';

.mainCnt{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .mainCnt__instagram{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        h2{
            font-weight: 400; 
        }
        h4{
            font-weight: 300; 
        }
    }
    .maintCnt__instaFeed{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 3rem;
        padding: 4rem;
        .instaFeed__post{
            width: 15rem;
            height: 15rem;
            background-color: $dark_clr;
            cursor: pointer;
        }
    }
}

