@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(0.8rem);
            transform: translate(0.8rem);
    -webkit-box-shadow: rgba(255, 217, 0, 0.4) 5px 5px, rgba(255, 217, 0, 0.3) 10px 10px, rgba(255, 217, 0, 0.2) 15px 15px, rgba(255, 217, 0, 0.1) 20px 20px, rgba(255, 217, 0, 0.05) 25px 25px;
            box-shadow: rgba(255, 217, 0, 0.4) 5px 5px, rgba(255, 217, 0, 0.3) 10px 10px, rgba(255, 217, 0, 0.2) 15px 15px, rgba(255, 217, 0, 0.1) 20px 20px, rgba(255, 217, 0, 0.05) 25px 25px;
  }
  10%,
  30%,
  50% {
    -webkit-transform: translate(-0.2rem);
            transform: translate(-0.2rem);
  }
  70%,
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(0.8rem);
            transform: translate(0.8rem);
    -webkit-box-shadow: rgba(255, 217, 0, 0.4) 5px 5px, rgba(255, 217, 0, 0.3) 10px 10px, rgba(255, 217, 0, 0.2) 15px 15px, rgba(255, 217, 0, 0.1) 20px 20px, rgba(255, 217, 0, 0.05) 25px 25px;
            box-shadow: rgba(255, 217, 0, 0.4) 5px 5px, rgba(255, 217, 0, 0.3) 10px 10px, rgba(255, 217, 0, 0.2) 15px 15px, rgba(255, 217, 0, 0.1) 20px 20px, rgba(255, 217, 0, 0.05) 25px 25px;
  }
  10%,
  30%,
  50% {
    -webkit-transform: translate(-0.2rem);
            transform: translate(-0.2rem);
  }
  70%,
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

html {
  scroll-behavior: smooth;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #202223;
  font-weight: 500;
}

strong {
  font-weight: 900;
}

a {
  text-decoration: none;
}

.navBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: 2000;
}

.navBar img {
  height: 9rem;
}

.navBar .navBar__links {
  width: 100%;
  position: absolute;
  top: 1.5rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60%;
}

.navBar .navBar__links a {
  color: #adadad;
  margin-right: .6rem;
}

.navBar .navBar__links a:hover {
  color: #fff200;
}

.navBar #navBar__certify {
  color: white;
  font-weight: 700;
}

.navBar #navBar__certify:hover {
  color: #fff200;
}

.navBar #navBar__myAccount {
  display: none;
}

.navBar #navBar__login {
  display: none;
}

@media only screen and (max-width: 480px) {
  .navBar {
    width: 100%;
  }
  .navBar img {
    height: 6rem;
  }
  .navBar .navBar__links {
    display: none;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  margin-top: 5rem;
  position: relative;
  overflow: hidden;
}

.hero .hero__slider {
  position: relative;
  width: 400%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  -webkit-animation: 28s slider infinite;
          animation: 28s slider infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes slider {
  0% {
    left: 0;
  }
  25% {
    left: 0%;
  }
  30% {
    left: -100%;
  }
  50% {
    left: -100%;
  }
  55% {
    left: -200%;
  }
  75% {
    left: -200%;
  }
  80% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}

@keyframes slider {
  0% {
    left: 0;
  }
  25% {
    left: 0%;
  }
  30% {
    left: -100%;
  }
  50% {
    left: -100%;
  }
  55% {
    left: -200%;
  }
  75% {
    left: -200%;
  }
  80% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}

.hero .hero__slide {
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center;
}

.hero .hero__slide .heroDescription {
  width: 80%;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 1.6;
  text-align: center;
}

.hero .hero__slide .heroDescription h1 {
  font-size: 2.4rem;
  color: white;
}

.hero .hero__slide .heroDescription p {
  text-align: center;
  font-size: 1.4rem;
  width: 50%;
  margin: 0 auto;
  color: white;
}

.hero .hero__first {
  background-image: url("../../images/bgd/wytgrd-pokemon-grading-hero1.jpg");
  background-size: cover;
}

.hero .hero__second {
  background-image: url("../../images/bgd/wytgrd-yugioh-grading-hero2.jpg");
  background-size: cover;
  background-position: bottom;
}

.hero .hero__third {
  background-image: url("../../images/bgd/wytgrd-magic-the-gathering-hero3.jpg");
  background-size: cover;
}

.hero .hero__certifyBtn {
  width: 25rem;
  height: 5rem;
  border-radius: 50px;
  background-color: #fff200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: 900;
  padding: 1rem;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 5;
}

.hero .hero__certifyBtn:hover {
  -webkit-box-shadow: rgba(255, 242, 0, 0.8) 5px 5px, rgba(255, 242, 0, 0.3) 10px 10px, rgba(255, 242, 0, 0.2) 15px 15px, rgba(255, 242, 0, 0.1) 20px 20px, rgba(255, 242, 0, 0.05) 25px 25px;
          box-shadow: rgba(255, 242, 0, 0.8) 5px 5px, rgba(255, 242, 0, 0.3) 10px 10px, rgba(255, 242, 0, 0.2) 15px 15px, rgba(255, 242, 0, 0.1) 20px 20px, rgba(255, 242, 0, 0.05) 25px 25px;
}

.hero .hero__stars {
  width: 35rem;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 480px) {
  .hero {
    margin-top: 2rem;
  }
  .hero .hero__certifyBtn {
    width: 18rem;
    height: 5rem;
    font-size: 1.3rem;
    padding: .8rem;
    top: 75%;
  }
  .hero .hero__stars {
    width: 24rem;
    top: 70%;
  }
  .hero .hero__slide .heroDescription {
    top: 50%;
    line-height: 1.4;
  }
  .hero .hero__slide .heroDescription h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .hero .hero__slide .heroDescription p {
    font-size: 1.4rem;
    width: 80%;
  }
}

.mainCnt__advSec {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainCnt__advSec .cardTypes {
  width: 100%;
  padding: 5rem 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8rem;
}

.mainCnt__advSec .cardTypes .cardTypes__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8rem;
}

.mainCnt__advSec .cardTypes > div img {
  width: 12rem;
}

.mainCnt__advSec .mainCnt__Intro {
  width: 30%;
  padding: 0 0 3rem;
}

.mainCnt__advSec .mainCnt__Intro p {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.4;
}

.mainCnt__advSec .mainCnt__adv {
  padding-top: 2rem;
}

.mainCnt__advSec .mainCnt__adv h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__card {
  width: 21rem;
  padding: 2rem 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__card p {
  text-align: center;
  line-height: 1.4;
  width: 85%;
  margin: 2rem 0;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__card:hover .mainCnt__text {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 2rem 1rem;
  background-color: white;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__text h3 {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__icn img {
  width: 12rem;
  margin-bottom: 1.2rem;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__lmBtn {
  border-radius: 50px;
  padding: .7rem;
  background-color: #fff200;
  cursor: pointer;
  color: #202223;
  font-weight: 700;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__lmBtn:hover {
  background-color: #202223;
  color: #fff200;
}

@media only screen and (max-width: 480px) {
  .mainCnt__advSec .cardTypes {
    width: 80%;
    gap: 1rem;
  }
  .mainCnt__advSec .cardTypes .cardTypes__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .mainCnt__advSec .cardTypes > div img {
    width: 10rem;
  }
  .mainCnt__advSec .mainCnt__Intro {
    width: 80%;
  }
  .mainCnt__advSec .mainCnt__Intro p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .mainCnt__advSec .mainCnt__adv .mainCnt__advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  .mainCnt__advSec .mainCnt__card {
    padding: 2rem 0;
  }
  .mainCnt__advSec .mainCnt__card p {
    line-height: 1.5;
    width: 85%;
    margin: 2rem 0;
  }
}

#checkAuth {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/wytgrd-pokemon-grading-background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

#checkAuth .checkAuth__CodeInput {
  width: 14rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  z-index: 5;
}

#checkAuth .checkAuth__CodeInput input {
  width: 100%;
  height: 75%;
  border: none;
  border-bottom: 1.5px solid #202223;
  outline: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#checkAuth .checkAuth__checkBtn {
  width: 28rem;
  height: 7rem;
  border-radius: 80px;
  background-color: #fff200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  font-weight: 700;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 3;
}

#checkAuth .checkAuth__checkBtn:hover {
  -webkit-box-shadow: rgba(255, 242, 0, 0.8) 5px 5px, rgba(255, 242, 0, 0.3) 10px 10px, rgba(255, 242, 0, 0.2) 15px 15px, rgba(255, 242, 0, 0.1) 20px 20px, rgba(255, 242, 0, 0.05) 25px 25px;
          box-shadow: rgba(255, 242, 0, 0.8) 5px 5px, rgba(255, 242, 0, 0.3) 10px 10px, rgba(255, 242, 0, 0.2) 15px 15px, rgba(255, 242, 0, 0.1) 20px 20px, rgba(255, 242, 0, 0.05) 25px 25px;
}

#checkAuth .checkAuth__stars {
  width: 36rem;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

::-webkit-input-placeholder {
  color: #202223;
  opacity: .8;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

:-ms-input-placeholder {
  color: #202223;
  opacity: .8;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

::-ms-input-placeholder {
  color: #202223;
  opacity: .8;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

::placeholder {
  color: #202223;
  opacity: .8;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 480px) {
  .checkAuth .checkAuth__CodeInput input {
    height: 150%;
  }
  .checkAuth .checkAuth__checkBtn {
    width: 20rem;
    height: 7rem;
    padding: 2rem;
    top: 65%;
  }
  .checkAuth .checkAuth__stars {
    width: 25rem;
    top: 60%;
  }
}

.mainCnt__steps {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0 3rem;
}

.mainCnt__steps .mainCnt__steps__p {
  width: 30%;
  padding: 3rem 0 3rem;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.4;
}

.mainCnt__steps .mainCnt__steps__p2 {
  width: 30%;
  padding: 5rem 0 0;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.4;
}

.mainCnt__steps .mainCnt__stepsIcns {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.mainCnt__steps .mainCnt__stepsIcns .mainCnt__stepsIcn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.mainCnt__steps .mainCnt__stepsIcns .mainCnt__stepsIcn img {
  width: 11rem;
}

.grading__steps {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}

.grading__steps .grading__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.grading__steps .grading__step img {
  width: 11rem;
}

.mainCnt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.mainCnt .sub__progress {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0 3rem;
}

.mainCnt .sub__progress .sub__progress__bar {
  width: 65%;
  height: 2rem;
  border-radius: 50px;
  background-color: #202223;
  overflow: hidden;
  -webkit-transform-origin: left;
          transform-origin: left;
  position: relative;
}

.mainCnt .sub__progress .sub__progress__pourcentage {
  width: 0%;
  opacity: 0;
  height: 100%;
  background-color: #fff200;
  border-radius: 50px;
  position: absolute;
  -webkit-transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mainCnt .sub__progress .sub__progress__number {
  font-size: 3rem;
  padding: 0rem 0 1rem;
}

.mainCnt .sub__progress p {
  width: 30%;
  padding: 1.8rem 0 0rem;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.4;
}

.mainCnt .sub__progress p a {
  font-weight: 900;
}

.mainCnt .sub__progress p a:hover {
  color: #d30000;
}

.mainCnt .mainCnt__instagram {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0 2rem;
}

.mainCnt .mainCnt__instagram h4 {
  font-weight: 500;
}

.mainCnt .maintCnt__instaFeed {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6rem;
  padding: 5rem;
}

.mainCnt .maintCnt__instaFeed .instaFeed__post {
  width: 15rem;
  height: 15rem;
  background-color: #202223;
  cursor: pointer;
}

.mainCnt .icn__btn {
  width: 5.7rem;
  height: 2rem;
  background-color: #fff200;
  border-radius: 50px;
  cursor: pointer;
  color: #202223;
  font-weight: 700;
  font-size: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainCnt .icn__btn:hover {
  background-color: #202223;
  color: #fff200;
}

.mnFtr {
  width: 100%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mnFtr .mnFtr__container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.mnFtr .mnFtr__links {
  width: 100%;
}

.mnFtr .mnFtr__links h4 {
  width: 100%;
  border-bottom: 2px solid black;
  padding-bottom: .8rem;
}

.mnFtr .mnFtr__links ul {
  list-style: none;
  margin-top: 1.5rem;
}

.mnFtr .mnFtr__links ul li {
  margin-bottom: .3rem;
}

.mnFtr .mnFtr__links ul li a {
  color: #363636;
}

.mnFtr .mnFtr__links ul li a:hover {
  color: #d30000;
}

.mnFtr .mnFtr__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mnFtr .mnFtr__logo img {
  width: 60%;
  cursor: pointer;
}

.mnFtr .mnFtr__lang {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.mnFtr .mnFtr__lang h4:hover {
  color: #d30000;
}

.mnFtr .mnFtr__lang img {
  width: 1rem;
  position: absolute;
  left: 4rem;
  top: .3rem;
}

.mnFtr .mnFtr__langList {
  display: none;
}

.mnFtr .mnFtr__langList--visible {
  display: inherit;
  width: 50%;
  padding: 1rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.mnFtr .mntFtr__copyright {
  font-size: .9rem;
}

.mnFtr .mntFtr__copyright p {
  color: #363636;
}

body {
  background-image: url("../../images/others/wytgrd-logo-pattern.jpg");
  background-position: center;
}
/*# sourceMappingURL=home.css.map */