@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #202223;
  font-weight: 500;
}

strong {
  font-weight: 900;
}

a {
  text-decoration: none;
}

.navBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;
}

.navBar img {
  height: 9rem;
}

.navBar .navBar__links {
  width: 100%;
  position: absolute;
  top: 1.5rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60%;
}

.navBar .navBar__links a {
  color: #adadad;
  margin-right: .6rem;
}

.navBar .navBar__links a:hover {
  color: #fff200;
}

.navBar #navBar__certify {
  color: white;
  font-weight: 700;
}

.navBar #navBar__certify:hover {
  color: #fff200;
}

body {
  background-image: url("../../images/others/wytgrd-logo-pattern.svg");
  background-position: center;
}

header {
  width: 100%;
  height: 60vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../../images/bgd/wytgrd-services-bgd-pokemon-cards.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/bgd/wytgrd-services-bgd-pokemon-cards.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  position: relative;
  margin-top: 4rem;
}

header h1 {
  position: absolute;
  top: 40%;
  left: 30%;
  -webkit-transform: translate(30%, 30%);
          transform: translate(30%, 30%);
  font-size: 5rem;
  color: #fff200;
}

header img {
  width: 35rem;
  position: absolute;
  top: 25%;
  left: 23%;
  -webkit-transform: translate(30%, 30%);
          transform: translate(30%, 30%);
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.labels {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.labels img {
  height: 6.5rem;
}

#about-us {
  position: relative;
  width: 100%;
  padding: 12rem 0 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-us .about-us__prg {
  width: 60%;
  text-align: center;
}

#about-us .about-us__prg p {
  font-size: 1.1rem;
  line-height: 1.5;
}

#tarifs {
  position: relative;
  width: 100%;
  padding: 12rem 0 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tarifs__offers {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.tarifs__offers .tarifs__offer {
  background-color: white;
  width: 20rem;
  padding: 3rem 2rem;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='60' height='60' patternTransform='scale(2) rotate(45)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M29.998 26.65v6.693zm-6.837 3.347h3.488zm10.185 0h3.489zm0 0a3.349 3.346 0 01-3.348 3.346 3.349 3.346 0 01-3.349-3.346 3.349 3.346 0 013.349-3.346 3.349 3.346 0 013.348 3.346zm-3.173-6.832c-1.978-.032-3.976.786-5.29 2.287-1.986 2.163-2.275 5.629-.727 8.113 1.45 2.442 4.522 3.736 7.287 3.116 3.067-.607 5.45-3.561 5.392-6.684.045-2.643-1.642-5.173-4.042-6.245a6.489 6.489 0 00-2.62-.587zM59.995 52.87v14.25zm-14.557 7.125h7.428zm21.687 0h7.427zm0 0a7.13 7.124 0 01-7.13 7.124 7.13 7.124 0 01-7.13-7.124 7.13 7.124 0 017.13-7.125 7.13 7.124 0 017.13 7.125zm-6.757-14.547c-4.212-.069-8.465 1.673-11.262 4.869-4.23 4.606-4.845 11.985-1.55 17.274 3.09 5.2 9.628 7.954 15.517 6.635 6.53-1.292 11.604-7.583 11.48-14.231.096-5.628-3.495-11.014-8.606-13.298-1.757-.813-3.665-1.217-5.58-1.249zM-.005 52.87v14.25zm-14.557 7.125h7.428zm21.687 0h7.427zm0 0a7.13 7.124 0 01-7.13 7.124 7.13 7.124 0 01-7.13-7.124 7.13 7.124 0 017.13-7.125 7.13 7.124 0 017.13 7.125zM.368 45.447c-4.212-.069-8.465 1.673-11.262 4.869-4.23 4.606-4.845 11.985-1.55 17.274 3.09 5.2 9.628 7.954 15.517 6.635 6.53-1.292 11.604-7.583 11.48-14.231.096-5.628-3.495-11.014-8.606-13.298-1.757-.813-3.665-1.217-5.58-1.249zM59.995-7.13V7.12zM45.438-.006h7.428zm21.687 0h7.427zm0 0a7.13 7.124 0 01-7.13 7.124 7.13 7.124 0 01-7.13-7.124 7.13 7.124 0 017.13-7.125 7.13 7.124 0 017.13 7.125zm-6.757-14.547c-4.212-.069-8.465 1.673-11.262 4.869C44.876-5.078 44.26 2.3 47.556 7.59c3.09 5.2 9.628 7.954 15.517 6.635 6.53-1.292 11.604-7.583 11.48-14.231.096-5.628-3.495-11.014-8.606-13.298-1.757-.813-3.665-1.217-5.58-1.249zM-.005-7.13V7.12zM-14.562-.006h7.428zm21.687 0h7.427zm0 0a7.13 7.124 0 01-7.13 7.124 7.13 7.124 0 01-7.13-7.124 7.13 7.124 0 017.13-7.125 7.13 7.124 0 017.13 7.125zM.368-14.553c-4.212-.069-8.465 1.673-11.262 4.869-4.23 4.606-4.845 11.985-1.55 17.274 3.09 5.2 9.628 7.954 15.517 6.635 6.53-1.292 11.604-7.583 11.48-14.231.096-5.628-3.495-11.014-8.606-13.298-1.757-.813-3.665-1.217-5.58-1.249z'  stroke-width='1' stroke='hsla(0, 0%, 68%, 0.55)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.tarifs__offers .tarifs__offer:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.tarifs__offers .tarifs__offer__quant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
}

.tarifs__offers .tarifs__offer__quant h2 {
  font-size: 2rem;
}

.tarifs__offers .tarifs__offer__quant span {
  font-size: .8rem;
  padding-bottom: 4.5px;
}

.tarifs__offers .tarifs__offer__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
  border: 1.5px solid #202223;
  border-radius: 50px;
  padding: .5rem .8rem;
  background-color: #fff200;
}

.tarifs__offers .tarifs__offer__price h2 {
  font-size: 2rem;
}

.tarifs__offers .tarifs__offer__price span {
  font-size: .6rem;
  padding-bottom: 4.5px;
}

.tarifs__offers p {
  font-size: .8rem;
}

#grading {
  position: relative;
  width: 100%;
  padding: 10rem 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#grading #grading__steps {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
  padding-bottom: 4rem;
}

#grading .grading__step {
  background-color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 2rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 15px;
}

#grading .grading__step:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

#grading .grading__step img {
  width: 11rem;
}

#grading .grading__step__par {
  text-align: center;
}

#grading .grading__step__par p {
  line-height: 1.5;
}

.grading__params {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.grading__params .grading__params__h1 {
  width: 100%;
  background-color: #dfdfdf;
  padding: .8rem 0;
}

.grading__params .grading__params__h1 h1 {
  font-weight: 400;
  text-align: center;
}

.grading__params .grading__params__icns {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
}

.grading__params .grading__param img {
  width: 9rem;
}

.grading__params .grading__params__p {
  width: 40%;
}

.grading__params .grading__params__p p {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.5;
}

.grading__params #grading__label {
  width: 48rem;
  margin: 3rem 0;
}

.grading__scale {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 4rem;
}

.grading__scale .grading__scale__h1 {
  width: 100%;
  background-color: #dfdfdf;
  padding: .8rem 0;
}

.grading__scale .grading__scale__h1 h1 {
  font-weight: 400;
  text-align: center;
}

.grading__scale #grading__scale__img {
  width: 60rem;
  margin: 3rem 0;
}

.grading__notations {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}

.grading__notations .grading__notation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.grading__notations .grading__notation__txt {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.grading__notations .grading__notation__txt h3 {
  text-align: center;
}

.grading__notations .grading__notation__txt p {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.5;
}

.grading__notations .grading__notation__icn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.grading__notations .grading__notation__icn img {
  width: 8rem;
  float: right;
}

.mnFtr {
  width: 100%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mnFtr .mnFtr__container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.mnFtr .mnFtr__links {
  width: 100%;
}

.mnFtr .mnFtr__links h4 {
  width: 100%;
  border-bottom: 2px solid black;
  padding-bottom: .8rem;
}

.mnFtr .mnFtr__links ul {
  list-style: none;
  margin-top: 1.5rem;
}

.mnFtr .mnFtr__links ul li {
  margin-bottom: .3rem;
}

.mnFtr .mnFtr__links ul li a {
  color: #363636;
}

.mnFtr .mnFtr__links ul li a:hover {
  color: #d30000;
}

.mnFtr .mnFtr__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mnFtr .mnFtr__logo img {
  width: 60%;
  cursor: pointer;
}

.mnFtr .mnFtr__lang {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.mnFtr .mnFtr__lang h4:hover {
  color: #d30000;
}

.mnFtr .mnFtr__lang img {
  width: 1rem;
  position: absolute;
  left: 4rem;
  top: .3rem;
}

.mnFtr .mnFtr__langList {
  display: none;
}

.mnFtr .mnFtr__langList--visible {
  display: inherit;
  width: 50%;
  padding: 1rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.mnFtr .mntFtr__copyright {
  font-size: .9rem;
}

.mnFtr .mntFtr__copyright p {
  color: #363636;
}
/*# sourceMappingURL=services.css.map */