@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(0.8rem);
            transform: translate(0.8rem);
    -webkit-box-shadow: rgba(255, 217, 0, 0.4) 5px 5px, rgba(255, 217, 0, 0.3) 10px 10px, rgba(255, 217, 0, 0.2) 15px 15px, rgba(255, 217, 0, 0.1) 20px 20px, rgba(255, 217, 0, 0.05) 25px 25px;
            box-shadow: rgba(255, 217, 0, 0.4) 5px 5px, rgba(255, 217, 0, 0.3) 10px 10px, rgba(255, 217, 0, 0.2) 15px 15px, rgba(255, 217, 0, 0.1) 20px 20px, rgba(255, 217, 0, 0.05) 25px 25px;
  }
  10%,
  30%,
  50% {
    -webkit-transform: translate(-0.2rem);
            transform: translate(-0.2rem);
  }
  70%,
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(0.8rem);
            transform: translate(0.8rem);
    -webkit-box-shadow: rgba(255, 217, 0, 0.4) 5px 5px, rgba(255, 217, 0, 0.3) 10px 10px, rgba(255, 217, 0, 0.2) 15px 15px, rgba(255, 217, 0, 0.1) 20px 20px, rgba(255, 217, 0, 0.05) 25px 25px;
            box-shadow: rgba(255, 217, 0, 0.4) 5px 5px, rgba(255, 217, 0, 0.3) 10px 10px, rgba(255, 217, 0, 0.2) 15px 15px, rgba(255, 217, 0, 0.1) 20px 20px, rgba(255, 217, 0, 0.05) 25px 25px;
  }
  10%,
  30%,
  50% {
    -webkit-transform: translate(-0.2rem);
            transform: translate(-0.2rem);
  }
  70%,
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

html {
  scroll-behavior: smooth;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #202223;
  font-weight: 500;
}

strong {
  font-weight: 900;
}

a {
  text-decoration: none;
}

.navBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;
}

.navBar img {
  height: 9rem;
}

.navBar .navBar__links {
  width: 100%;
  position: absolute;
  top: 1.5rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60%;
}

.navBar .navBar__links a {
  color: #adadad;
  margin-right: .6rem;
}

.navBar .navBar__links a:hover {
  color: #fff200;
}

.navBar #navBar__certify {
  color: white;
  font-weight: 700;
}

.navBar #navBar__certify:hover {
  color: #fff200;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps {
  width: 80%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
  margin-top: 10rem;
}

.steps .steps__icn img {
  width: 10rem;
  opacity: .4;
}

.steps .steps__icn1 img {
  opacity: 1;
}

.searchCard {
  width: 65%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.searchCard .searchCard__c-game {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.searchCard .searchCard__c-game--choose {
  -webkit-animation: shake .8s ease-in;
          animation: shake .8s ease-in;
  background-color: #fff200;
}

.searchCard .searchCard__c-game input {
  display: none;
}

.searchCard .searchCard__c-game label {
  width: 100%;
  padding: 2rem 6rem;
  opacity: .5;
  cursor: pointer;
}

.searchCard .searchCard__c-game label:hover {
  opacity: 100%;
}

.searchCard .searchCard__c-game .c-game__pokemon label {
  background-image: url("../../../images/logos/wytgrd-pokemon-logo.png");
  background-position: center;
  background-size: cover;
}

.searchCard .searchCard__c-game .c-game__magic label {
  background-image: url("../../../images/logos/wytgrd-magic-the-gathering-logo.png");
  background-position: center;
  background-size: cover;
}

.searchCard .searchCard__select {
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.searchCard .searchCard__input {
  width: 19rem;
  height: 100%;
  border-radius: 50px;
  border: 1.5px solid #202223;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
  position: relative;
}

.searchCard .searchCard__input input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
}

.searchCard .searchCard__input input[type="search"]::-webkit-search-decoration, .searchCard .searchCard__input input[type="search"]::-webkit-search-cancel-button, .searchCard .searchCard__input input[type="search"]::-webkit-search-results-button, .searchCard .searchCard__input input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.searchCard .search__input__msg {
  display: none;
  position: absolute;
  left: 10px;
  top: 110%;
  margin-top: 5px;
  font-weight: 400;
  color: #d30000;
}

.searchCard .searchCard__search {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1.5px solid #202223;
  background-color: #fff200;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
}

.searchCard .searchCard__search img {
  width: 1rem;
}

.searchCard .searchCard__search:hover {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.searchCard .searchCard__search:active {
  background-color: #d30000;
}

.searchCard .searchCard__suggestions {
  width: 50%;
  padding: 2rem 3rem;
  list-style: none;
  position: relative;
}

.searchCard .searchCard__suggestions--active {
  display: block;
}

.searchCard .suggestions__loader {
  width: 100%;
  height: auto;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: -5%;
  z-index: 5;
}

.searchCard .suggestions__loader img {
  width: 18rem;
}

.searchCard .suggestions__list {
  list-style: none;
}

.searchCard .suggestions__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 1rem 3rem;
  border-bottom: 1.5px solid #adadad;
}

.searchCard .suggestions__list .suggestion__cardInfo {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.searchCard .suggestions__list .suggestion__cardInfo div {
  margin-bottom: .3rem;
  color: #adadad;
  font-weight: 400;
}

.searchCard .suggestions__list img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 1.7rem;
  cursor: pointer;
}

.searchCard .suggestions__list .suggestion__list__cardImg {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 4rem;
  border-radius: 10px;
}

.cards {
  width: 100%;
  padding: 2rem 4rem;
  overflow-x: auto;
}

.cards h2 {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.cards ul {
  width: 100%;
  list-style: none;
}

.cards ul li {
  padding: 1rem 2rem;
  border-bottom: 3px solid #adadad;
  background-color: #f1f1f1;
}

.cards ul .f_line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.cards ul .c__list__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
  background-color: #202223;
  border-radius: 50px;
  padding: 1rem 2rem;
}

.cards ul .c__list__head div {
  color: white;
}

.cards .minimalNote__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  position: relative;
  margin-bottom: .5rem;
}

.cards .minimalNote__checkbox span {
  background-color: #fff200;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cards .minimalNote__checkbox span:hover ~ .minimalNote__hint {
  display: block;
}

.cards .minimalNote__checkbox .minimalNote__hint {
  display: none;
  width: 14rem;
  background-color: #fff200;
  color: #202223;
  padding: 1rem;
  border-radius: 10px;
  position: absolute;
  top: -8rem;
  left: 30%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  font-weight: 400;
}

.cards .minimalNote__dtls {
  display: none;
}

.cards .minimalNote__dtls select {
  width: 6rem;
  outline: none;
  padding: .3rem;
  margin: 0 2rem;
}

.cards .minimalNote__dtls #return ~ label {
  margin-right: 1.5rem;
}

.cards .card__description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cards .card__description .card__name {
  color: #202223;
  font-weight: 700;
}

.cards .card__description div {
  color: #adadad;
}

.cards .card__specifity_checkbox {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .4rem;
}

.cards .card__specifity_checkbox .card__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.cards .card__specifity_checkbox #card__edition + label {
  margin-right: 2rem;
}

.cards .card__noNotation {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  cursor: pointer;
}

.cards .card__noNotation p {
  color: white;
  margin-top: 3px;
  font-size: .7rem;
  font-weight: 300;
}

.cards .card__noNotation .noNotation__toggle {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  background-color: #202223;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 3;
}

.cards .card__noNotation .noNotation__stroke {
  width: 3.5rem;
  height: 1.75rem;
  border-radius: 50px;
  border: 1.5px solid #202223;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.cards .card__noNotation--on .noNotation__toggle {
  left: 1.8rem;
}

.cards .card__noNotation--on .noNotation__stroke {
  background-color: #fff200;
}

.cards .card__noNotation span {
  position: absolute;
  top: 0;
  right: 0.5rem;
  background-color: #fff200;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards .card__noNotation span:hover ~ .card__noNotation__hint {
  display: inherit;
}

.cards .card__noNotation .card__noNotation__hint {
  width: 100%;
  background-color: #fff200;
  color: #202223;
  padding: 1rem;
  border-radius: 10px;
  position: absolute;
  top: -10rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  font-weight: 400;
}

.cards .card_lang {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cards .card_lang p {
  color: white;
  margin-top: 3px;
  font-size: .7rem;
  font-weight: 300;
}

.cards .card_lang select {
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
  outline: none;
}

.cards .card__delete {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cards .card__delete img {
  width: 1.2rem;
  cursor: pointer;
}

.cards .card__value {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.cards .card__value p {
  color: white;
  margin-top: 3px;
  font-size: .7rem;
  font-weight: 300;
}

.cards .card__value input {
  width: 60%;
  border: 2px solid #202223;
  border-radius: 5px;
  padding: 3px .5rem;
  outline: none;
  background-color: transparent;
  padding-bottom: .5rem;
  font-weight: 700;
}

.cards .card__value input::-webkit-outer-spin-button, .cards .card__value input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cards .card__value input + label {
  font-weight: 700;
  position: absolute;
  left: 0;
  pointer-events: none;
}

.cards .card__value input:focus ~ label {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-size: .8rem;
  color: #adadad;
}

.cards .card__value span {
  font-weight: 700;
}

.cards .card__certLang {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  position: relative;
}

.cards .card__certLang p {
  color: white;
  margin-top: 3px;
  font-size: .7rem;
  font-weight: 300;
}

.cards .card__certLang .certLang__toggle {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  background-image: url("../../images/icons/wytgrd-langage-english-flag.svg");
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.cards .card__certLang .certlang__stroke {
  width: 3.5rem;
  height: 1.75rem;
  border-radius: 50px;
  border: 1.5px solid #202223;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.cards .card__certLang--spanish .certLang__toggle {
  left: 1.8rem;
  background-image: url("../../images/icons/wytgrd-langage-spanish-flag.svg");
}

.cards hr {
  margin: 1rem 0;
}

.orderDtls {
  width: 100%;
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recap {
  width: 20rem;
  padding: 2rem;
  border-radius: 10px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-bottom: 5rem;
}

.recap:hover {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.recap .recap__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.recap .recap__head span {
  display: none;
  margin-top: .7rem;
  font-weight: 300;
  font-style: italic;
}

.recap h3 {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.recap .details:not(div:last-child) {
  margin-bottom: 1rem;
}

.recap .details span:first-child {
  font-weight: 700;
}

.recap .details span:last-child {
  text-align: right;
  float: right;
}

.recap hr {
  border: 1px solid #adadad;
  margin: 1.5rem 0;
}

.orderDtls__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.submitCard {
  display: none;
  font-weight: 700;
  padding: 0 0 4rem;
}

.submitCard--active {
  display: block;
}

.submitCard .submitCard__insurance {
  font-size: 1.1rem;
}

.submitCard .submitCard__btn {
  width: 8rem;
  height: 3rem;
  border: 1.5px solid #202223;
  border-radius: 50px;
  background-color: #fff200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  cursor: pointer;
}

.mnFtr {
  width: 100%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mnFtr .mnFtr__container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.mnFtr .mnFtr__links {
  width: 100%;
}

.mnFtr .mnFtr__links h4 {
  width: 100%;
  border-bottom: 2px solid black;
  padding-bottom: .8rem;
}

.mnFtr .mnFtr__links ul {
  list-style: none;
  margin-top: 1.5rem;
}

.mnFtr .mnFtr__links ul li {
  margin-bottom: .3rem;
}

.mnFtr .mnFtr__links ul li a {
  color: #363636;
}

.mnFtr .mnFtr__links ul li a:hover {
  color: #d30000;
}

.mnFtr .mnFtr__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mnFtr .mnFtr__logo img {
  width: 60%;
  cursor: pointer;
}

.mnFtr .mnFtr__lang {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.mnFtr .mnFtr__lang h4:hover {
  color: #d30000;
}

.mnFtr .mnFtr__lang img {
  width: 1rem;
  position: absolute;
  left: 4rem;
  top: .3rem;
}

.mnFtr .mnFtr__langList {
  display: none;
}

.mnFtr .mnFtr__langList--visible {
  display: inherit;
  width: 50%;
  padding: 1rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.mnFtr .mntFtr__copyright {
  font-size: .9rem;
}

.mnFtr .mntFtr__copyright p {
  color: #363636;
}
/*# sourceMappingURL=submit-card.css.map */