.navBar{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: 2000;
    img{
        height: 9rem;
    }
    .navBar__links{
        width: 100%;
        position: absolute;
        top: 1.5rem;
        color: white;
        display: flex;
        justify-content: center;
        gap: 60%;
        a{
            color: $light_clr;
            margin-right: .6rem;
            &:hover{
                color: $main_clr;
            }
        }
    }
    #navBar__certify{
        color: white;
        font-weight: 700;
        &:hover{
            color: $main_clr;
        }
    }
    #navBar__myAccount{
        display: none;
    }
    #navBar__login{
        display: none;
    }
}

//RESPONSIVE

//Mobile screens
@media only screen and (max-width: 480px){
    .navBar{
        width: 100%;
        img{
            height: 6rem;
        }
        .navBar__links{
            display: none;
        }
    }
}