@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #202223;
}

a {
  text-decoration: none;
}

.navBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;
}

.navBar img {
  height: 9rem;
}

.navBar .navBar__links {
  width: 100%;
  position: absolute;
  top: 1.5rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60%;
}

.navBar .navBar__links a {
  color: #adadad;
  margin-right: .6rem;
}

.navBar .navBar__links a:hover {
  color: #fff200;
}

.navBar #navBar__certify {
  color: white;
  font-weight: 700;
}

.navBar #navBar__certify:hover {
  color: #fff200;
}

.hero {
  width: 100%;
  height: 90vh;
  margin-top: 5rem;
  position: relative;
  overflow: hidden;
}

.hero .hero__slider {
  position: relative;
  width: 400%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  -webkit-animation: 10s slider infinite;
          animation: 10s slider infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.hero .hero__slide {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -100%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -200%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -100%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -200%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}

.hero .hero__first {
  background-image: url("../../images/bgd/wytgrd-pokemon-grading-hero1.jpg");
  background-size: cover;
}

.hero .hero__second {
  background-image: url("../../images/bgd/wytgrd-dragonBall-grading-hero2.jpg");
  background-size: cover;
  background-position: bottom;
}

.hero .hero__third {
  background-image: url("../../images/bgd/wytgrd-magic-the-gathering-hero3.jpg");
  background-size: cover;
}

.hero .hero__certifyBtn {
  width: 25rem;
  height: 5rem;
  border-radius: 50px;
  background-color: #fff200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: 900;
  padding: 1rem;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 5;
}

.hero .hero__certifyBtn:hover {
  -webkit-box-shadow: rgba(255, 242, 0, 0.8) 5px 5px, rgba(255, 242, 0, 0.3) 10px 10px, rgba(255, 242, 0, 0.2) 15px 15px, rgba(255, 242, 0, 0.1) 20px 20px, rgba(255, 242, 0, 0.05) 25px 25px;
          box-shadow: rgba(255, 242, 0, 0.8) 5px 5px, rgba(255, 242, 0, 0.3) 10px 10px, rgba(255, 242, 0, 0.2) 15px 15px, rgba(255, 242, 0, 0.1) 20px 20px, rgba(255, 242, 0, 0.05) 25px 25px;
}

.hero .hero__stars {
  width: 35rem;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mainCnt__advSec {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainCnt__advSec .cardTypes {
  width: 100%;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8rem;
}

.mainCnt__advSec .cardTypes > div img {
  width: 12rem;
}

.mainCnt__advSec .mainCnt__Intro {
  width: 30%;
  padding: 2rem 0 3rem;
}

.mainCnt__advSec .mainCnt__Intro p {
  text-align: center;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.4;
}

.mainCnt__advSec .mainCnt__adv {
  padding-top: 2rem;
}

.mainCnt__advSec .mainCnt__adv h2 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__card {
  width: 23rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__card p {
  text-align: center;
  line-height: 1.4;
  width: 85%;
  margin: 2rem 0;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__card:hover .mainCnt__text {
  -webkit-box-shadow: #e8e2cc 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
          box-shadow: #e8e2cc 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 2rem 1rem;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__icn img {
  width: 12rem;
  margin-bottom: 1.2rem;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__lmBtn {
  border: 1px solid #d30000;
  border-radius: 50px;
  padding: .7rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: #d30000;
  font-weight: 700;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__lmBtn div {
  width: 200%;
  height: 200%;
  background-color: #fff200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(40%, -50%);
          transform: translate(40%, -50%);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  z-index: -1;
}

.mainCnt__advSec .mainCnt__adv .mainCnt__lmBtn:hover div {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.checkAuth {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/wytgrd-pokemon-grading-background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.checkAuth .checkAuth__CodeInput {
  width: 14rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  z-index: 5;
}

.checkAuth .checkAuth__CodeInput input {
  width: 100%;
  height: 75%;
  border: none;
  border-bottom: 1.5px solid #202223;
  outline: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkAuth .checkAuth__checkBtn {
  width: 28rem;
  height: 7rem;
  border-radius: 80px;
  background-color: #fff200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 700;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 3;
}

.checkAuth .checkAuth__checkBtn:hover {
  -webkit-box-shadow: rgba(255, 242, 0, 0.8) 5px 5px, rgba(255, 242, 0, 0.3) 10px 10px, rgba(255, 242, 0, 0.2) 15px 15px, rgba(255, 242, 0, 0.1) 20px 20px, rgba(255, 242, 0, 0.05) 25px 25px;
          box-shadow: rgba(255, 242, 0, 0.8) 5px 5px, rgba(255, 242, 0, 0.3) 10px 10px, rgba(255, 242, 0, 0.2) 15px 15px, rgba(255, 242, 0, 0.1) 20px 20px, rgba(255, 242, 0, 0.05) 25px 25px;
}

.checkAuth .checkAuth__stars {
  width: 36rem;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

::-webkit-input-placeholder {
  color: #202223;
  opacity: .8;
}

:-ms-input-placeholder {
  color: #202223;
  opacity: .8;
}

::-ms-input-placeholder {
  color: #202223;
  opacity: .8;
}

::placeholder {
  color: #202223;
  opacity: .8;
}

.mainCnt__steps {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
}

.mainCnt__steps h2 {
  font-weight: 400;
}

.mainCnt__steps h4 {
  font-weight: 300;
}

.mainCnt__steps .mainCnt__stepsIcns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7rem;
  margin-top: 4rem;
}

.mainCnt__steps .mainCnt__stepsIcns .mainCnt__stepsIcn img {
  width: 11rem;
}

.mainCnt__scale {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainCnt__scale h2 {
  font-weight: 400;
}

.mainCnt__scale .mainCnt__scaleIcns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9rem;
  padding: 4rem;
}

.mainCnt__scale .mainCnt__scaleIcns .mainCnt__scaleIcn img {
  width: 10rem;
}

.mainCnt__scale .mainCnt__desc {
  width: 40%;
}

.mainCnt__scale .mainCnt__desc p {
  text-align: center;
  font-size: 1.35rem;
  font-weight: 300;
}

.mainCnt__scale .mainCnt__scaleImg {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 2rem 0;
}

.mainCnt__scale .mainCnt__scaleImg img {
  width: 100%;
}

.mainCnt__scale .mainCnt__wtLogo {
  width: 10%;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.mainCnt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainCnt .mainCnt__instagram {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
}

.mainCnt .mainCnt__instagram h2 {
  font-weight: 400;
}

.mainCnt .mainCnt__instagram h4 {
  font-weight: 300;
}

.mainCnt .maintCnt__instaFeed {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6rem;
  padding: 4rem;
}

.mainCnt .maintCnt__instaFeed .instaFeed__post {
  width: 15rem;
  height: 15rem;
  background-color: #202223;
  cursor: pointer;
}

.mnFtr {
  width: 100%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mnFtr .mnFtr__container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.mnFtr .mnFtr__links {
  width: 100%;
}

.mnFtr .mnFtr__links h4 {
  width: 100%;
  border-bottom: 2px solid black;
  padding-bottom: .8rem;
}

.mnFtr .mnFtr__links ul {
  list-style: none;
  margin-top: 1.5rem;
}

.mnFtr .mnFtr__links ul li {
  margin-bottom: .3rem;
}

.mnFtr .mnFtr__links ul li a {
  color: #363636;
}

.mnFtr .mnFtr__links ul li a:hover {
  color: #d30000;
}

.mnFtr .mnFtr__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mnFtr .mnFtr__logo img {
  width: 60%;
  cursor: pointer;
}

.mnFtr .mnFtr__lang {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.mnFtr .mnFtr__lang h4:hover {
  color: #d30000;
}

.mnFtr .mnFtr__lang img {
  width: 1rem;
  position: absolute;
  left: 4rem;
  top: .3rem;
}

.mnFtr .mnFtr__langList {
  display: none;
}

.mnFtr .mnFtr__langList--visible {
  display: inherit;
  width: 50%;
  padding: 1rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.mnFtr .mntFtr__copyright {
  font-size: .9rem;
}

.mnFtr .mntFtr__copyright p {
  color: #363636;
}
/*# sourceMappingURL=home.css.map */