.grading__steps{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
    .grading__step{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        img{
            width: 11rem;
        }
    }
}