@import 'advantagesSec';
@import 'checkAuth';
@import 'stepsSec';
@import 'gradingSteps';

.mainCnt{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
    //SUBMISSIONS PROGRESS BAR
    .sub__progress{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 0 3rem;
        .sub__progress__bar{
            width: 65%;
            height: 2rem;
            border-radius: 50px;
            background-color: $dark_clr;
            overflow: hidden;
            transform-origin: left;
            position: relative;
        }
        .sub__progress__pourcentage{
            width: 0%;
            opacity: 0;
            height: 100%;
            background-color: $main_clr;
            border-radius: 50px;
            position: absolute;
            transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        .sub__progress__number{
            font-size: 3rem;
            padding: 0rem 0 1rem;
        }
        p{
            width: 30%;
            padding: 1.8rem 0 0rem;
            text-align: center;
            font-size: 1.3rem;
            line-height: 1.4;
            a{
                font-weight: 900;
            }
            a:hover{
                color: $sec_clr;
            }
        }
    }
    //INSTAGRAM
    .mainCnt__instagram{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0 2rem;
        h4{
            font-weight: 500;
            &:hover a{
                color: $light_clr;
            } 
        }
    }
    .maintCnt__instaFeed{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 6rem;
        padding: 5rem;
        .instaFeed__post{
            width: 15rem;
            height: 15rem;
            cursor: pointer;
            background-size: cover;
            &:nth-child(1){
                background-image: url('../../images/others/wtig-instagram-pic1.PNG');
            }
            &:nth-child(2){
                background-image: url('../../images/others/wtig-instagram-pic2.PNG');
            }
            &:nth-child(3){
                background-image: url('../../images/others/wtig-instagram-pic3.PNG');
            }
            &:nth-child(4){
                background-image: url('../../images/others/wtig-instagram-pic4.PNG');
            }
        }
    }
    //BTNS ICNS
    .icn__btn{
        width: 5.7rem;
        height: 2rem;
        background-color: $main_clr;
        border-radius: 50px;
        cursor: pointer;
        color: $dark_clr;
        font-weight: 700;
        font-size: .7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            background-color: $dark_clr;
            color: $main_clr;
        }
    }
}

//RESPONSIVE

//Mobile screens
@media only screen and (max-width: $mobile_bp){
    .mainCnt{
        //SUBMISSIONS PROGRESS BAR
        .sub__progress{
            width: 80%;
            .sub__progress__bar{
                width: 100%;
            }
            .sub__progress__number{
                font-size: 2rem;
            }
            p{
                width: 80%;
                font-size: $m_size;
                line-height: $m_lineHeigt;
            }
        }
        //INSTAGRAM
        .maintCnt__instaFeed{
            width: 100%;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            .instaFeed__post{
                width: 18rem;
                height: 18rem;
            }
        }
        //BTNS ICNS
        .icn__btn{
            width: 7rem;
            height: 2.5rem;
        }
    }
}

